PATH_add $PWD/extern/spack/bin

export SPACK_USER_CACHE_PATH="$PWD/extern/cache"
export SPACK_USER_CONFIG_PATH="$PWD/extern/scopes/user"
export SPACK_SYSTEM_CONFIG_PATH="$PWD/extern/scopes/system"

# warning: local to me for now
export SPACK_BUILDCACHE=/nfs/data/1/bviren/spack-cache

# warning: local to wcgpu
# PATH_add /usr/local/cuda-12.5/bin

# temporary testing.  This forces one environment on the entire area.
# load_prefix $PWD/extern/envs/gcc15/view/

